.main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.right-content {
    width: 100%;
}

.dark {
    background-color: #1a1a1a;
    color: #fafafa;
    transition: 0.5s;
    button {
        color: #fafafa;
        transition: 0.5s;
    }
}

.light {
    background-color: #acacac;
    color: #1a1a1a;
    transition: 0.5s;
    button {
        color: #1a1a1a;
        transition: 0.5s;
    }
}

.content {
    max-height: calc(100% - 50px);
    padding: 15px;
}

.dark-ct {
    background-color: #2e2e2e;
}

.light-ct {
    background-color: #ffffff;
}