.main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.right-content {
    flex-direction: column;
    width: 100%;
}

.dark {
    background-color: #2e2e2e;
    color: #fafafa;
    transition: 1s;
}

.light {
    background-color: #fafafa;
    color: #1a1a1a;
    transition: 1s;
}