.main-sidebar {
    background-color: #1a1a1a;
    
}

.toggled {
    width: 340px;
    height: 100vh;
    transition: 1s;
}

.untoggled {
    min-width: 50px;
    height: 100vh;
    transition: 1s;
}